.menu-button {
    display: inline-flex;
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;

    &:hover .icon-close,
    &:hover .icon-menu {
        fill: $acent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-close {
    display: none;
}

.menu-button.is-open .icon-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.mobile-menu {


    width: 101%;
    height: 393px;
    background-color: $main-bg-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 60px;
    text-align: center;


    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;


    }

}